.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    width: 90%;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .modalHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .modalFooter {
    display: flex;
    justify-content: flex-end;
  }